body {
  background-color: #eeeeee;
}
.container {
  background-color: white;
  margin-top: 24px;
}
.heading {
  box-shadow: 5px 5px 25px 8px grey;
  padding: 25px;
}
.card-img-top {
  width: 20vw;
}
footer {
  text-align: center;
  padding: 15px;
}
